mlflow==2.19.0
scikit-learn==1.6.0
pandas==2.2.3
numpy==2.2.1
joblib
cloudpickle==3.1.0
dagshub==0.5.1
psutil==5.9.0
scipy==1.14.1
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client

